<div class="row">
  <div class="col-md-4"></div>
  
  <div class="col-md-4">
    <h2>Sign up</h2>
  </div>
  
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      
      <div class="field">
        <%= f.label :role %><br />
        <%= f.select :role, ['Admin', 'Dosen', 'Mahasiswa']%>
      </div>
      <br>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
  
  <div class="col-md-4"></div>
</div>

