<br>
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
  <%= menu_group do %>
      
      <%= menu_item "Dashboard", root_path %>

      <%= menu_item "Courses", courses_path %>

      <% if can? :manage, User %>
          <%= menu_item "Manage User", users_path %>
      <% end %>
      
      <%= menu_item "Logout", destroy_user_session_path , :method => :delete %>
  <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>

<br>
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h3>Manage Users</h3>
    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>


<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <% for user in @users %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Show', user%></td>
          <td><%= link_to 'Destroy', user, method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="col-md-2"></div>
</div>