<br>>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8" class="bg-primary">
	<%= menu_group do %>

      <%= menu_item "Dashboard", root_path %>
      
      <%= menu_item "Courses", courses_path %>

      <% if can? :manage, User %>
          <%= menu_item "Manage User", users_path %>
      <% end %>
      
      <%= menu_item "Logout", destroy_user_session_path , :method => :delete %>
	<% end %>    
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    
      <h4>Profile</h4>
  </div>
  
  <div class="col-md-2"></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <table class="table">
      <tr>
    	<th><h5>Email   </h5></th>
    	
    	<td><h5><%= @user.email %></h5></td>
      </tr>
      <tr>
      	<th><h5>Role    </h5>
      	
      	<td><h5><%= @user.role %></h5></td>
      </tr>
	</table>
  </div>
  
  <div class="col-md-2"></div>
</div>