<br>>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
	<%= menu_group do %>

      <%= menu_item "Dashboard", root_path %>
      
      <%= menu_item "Courses", courses_path %>

      <% if can? :manage, User %>
          <%= menu_item "Manage User", users_path %>
      <% end %>
      
      <%= menu_item "Logout", destroy_user_session_path , :method => :delete %>
	<% end %>    
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h1>Dashboard</h1>
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h5>Welcome <%= @user.email %></h5>
  </div>
  
  <div class="col-md-2"></div>
</div>