<div class="row">
  <div class="col-md-4"></div>
  
  <div class="col-md-4">
    
    <h1 class="text-center">Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
    <div class="field form-group">
      <%= f.label :email%><br>
      <%= f.email_field :email, autofocus: true%>
    </div>
    <div class="field form-group" >
      <%= f.label :password%><br>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <br>
      </div>
    <% end -%>
    <div class="actions form-group">
      <%= f.submit "Log in" %>
    </div>

    <% end %>
    <br>
    <div class="form-group">
      <%= render "devise/shared/links"%>
    </div>
  </div>
  
  <div class="col-md-4"></div>
</div>