
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
  <%= menu_group do %>
      
      <%= menu_item "Dashboard", root_path %>

      <%= menu_item "Courses", courses_path %>

      <% if can? :manage, User %>
          <%= menu_item "Manage User", users_path %>
      <% end %>
      
      <%= menu_item "Logout", destroy_user_session_path , :method => :delete %>
  <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h1>Manage Courses</h1>
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h5>Welcome, <%= current_user.email %> </h5>
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Code</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td><%= course.title %></td>
          <td><%= course.code %></td>
          <% if can? :read, Course %>
            <td><%= link_to 'Show', course %></td>
          <% end %>

          <% if can? :update, Course %>
            <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <% end %>

          <% if can? :destroy, Course %>
            <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="col-md-2"></div>
</div>


<br>
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    
    <% if can? :create, Course %>
      <%= link_to 'New Course', new_course_path, :class => "btn btn-success" %>
    <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>