<br>
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
  <%= menu_group do %>
      
      <%= menu_item "Dashboard", root_path %>

      <%= menu_item "Courses", courses_path %>

      <% if can? :manage, User %>
          <%= menu_item "Manage User", users_path %>
      <% end %>
      
      <%= menu_item "Logout", destroy_user_session_path , :method => :delete %>
  <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h3>Add New Course</h3>
  </div>
  
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <form>
      <%= form_for :course, url: courses_path do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation" class="bg-warning">
          <h2>
            <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
          </h2>
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, :placeholder => "Course title" %>
      </div>
      <div class="form-group">
        <%= f.label :code %><br>
        <%= f.text_field :code, :placeholder => "Course code" %>
      </div>
      <%= f.submit :Submit, class: 'btn btn-success' %>
      <%= link_to 'Cancel', courses_path , :class => "btn btn-warning"%>
    <form>
    <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>