<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
  <%= menu_group do %>
      
      <%= menu_item "Dashboard", root_path %>

      <%= menu_item "Courses", courses_path %>

      <% if can? :manage, User %>
          <%= menu_item "Manage User", users_path %>
      <% end %>
      
      <%= menu_item "Logout", destroy_user_session_path , :method => :delete %>
  <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>

<br>
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <table class="table">
      <tbody>
        <tr>
          <th>Title</th>
          <td><%= @course.title %></td>
        </tr>
        <tr>
          <th>Code</th>
          <td><%= @course.code %> </td>
        </tr>
      </tbody>
    </table>

    <% if can? :update, Course %> 
      <%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-primary"%>
    <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h4>Registered Student</h4>
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @course.details.each do |detail| %>
        <tr>
          <td><%= detail.registered %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <%= form_for([@course, @course.details.build]) do |f| %>
      <%= f.hidden_field :registered, :value => current_user.email %>
      <%= f.submit  :Join, class: 'btn btn-success'%>
    <% end %>
  </div>
  
  <div class="col-md-2"></div>
</div>